# MongoDB connection string
MONGO_DB_URL=

# Secret key for JWT token signing
TOKEN_SECRET=

# SMTP configuration for sending emails
SMTP_USER=
SMTP_PASS=

# Domain URL for email verification links
domain=http://localhost:3000
